<header class="header">
  <div class="box">
    <nav class="header__menu">
      <ul class="menu">
        <li class="menu__item">
          <a href="#quem-somos" class="menu__link">Quem Somos</a>
        </li>
        <li class="menu__item">
          <a href="#sistema-ma" class="menu__link">Sistema MA</a>
        </li>
        <li class="menu__item">
          <a href="#servicos" class="menu__link">Serviços</a>
        </li>
        <li class="menu__item">
          <a href="#contato" class="menu__link">Contato</a>
        </li>
        <li class="menu__item">
          (51) 8598-0058
        </li>
        <li class="menu__item">
          (51) 8228-0115
        </li>
        <li class="menu__item">
          (51) 9485-1515
        </li>
      </ul>
    </nav>
  </div>
</header>
