* {
  box-sizing: border-box;
}

a, button {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

body, button, h1, h2, h3, h4, h5, h6, hr, ol, p, ul {
  margin: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

button, ol, ul {
  padding: 0;
}

a:link, a:visited, a:active {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  color: rgb(217, 163, 1);
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
}

h1 {
  font-weight: normal;
}

html {
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: $golden;
  -webkit-font-smoothing: antialiased;
}

.box {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}
